@import url('https://fonts.googleapis.com/css?family=Geologica&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alef&display=swap');

:root {
    --falu-red: #6f1d1bff;
    --lion: #bb9457ff;
    --bistre: #432818ff;
    --brown: #99582aff;
    --peach: #ffe6a7ff;

    --orange-crayola: #e63d00;
    --peach: #f7c59fff;
    --beige: #efefd0ff;
    --polynesian-blue: #004e89ff;
    --lapis-lazuli: #1a659eff;

    --cask: var(--orange-crayola);
    --formula: var(--lapis-lazuli);
}

body {
    margin: 0;
    font-family: Geologica;
    height: 100vh;
    width: 100vw;
    display: flex;
}

body[theme="light"] {
    --primary: var(--bistre);
    --secondary: var(--falu-red);
    --bg: var(--peach);
    --alt-bg: var(--lion);
    background: var(--bg);
    color: var(--primary);
}
body[theme="dark"] {
    --primary: var(--peach);
    --secondary: var(--lion);
    --bg: var(--bistre);
    --alt-bg: var(--falu-red);
    background: var(--bg);
    color: var(--primary);
}

.i {
    vertical-align: middle;
    display: inline-block;
    height: 1em;
    width: 1em;
}

.heb * {
    direction: rtl;
    font-family: Alef;
}